<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875864617550-0hiiin1grt1drcer3bbj3iorvnovdf9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875864617550-0hiiin1grt1drcer3bbj3iorvnovdf9g</string>
	<key>API_KEY</key>
	<string>AIzaSyCr_iv2VuMjHjV9s29R3BXhqDbkCvw272I</string>
	<key>GCM_SENDER_ID</key>
	<string>875864617550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>self.try</string>
	<key>PROJECT_ID</key>
	<string>circlepaydb</string>
	<key>STORAGE_BUCKET</key>
	<string>circlepaydb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875864617550:ios:3e982dd22fae2ea4eb491f</string>
	<key>DATABASE_URL</key>
	<string>https://circlepaydb.firebaseio.com</string>
</dict>
</plist>